
main {
  display: flex;
  flex-direction: column;
}

aside, article {
  width: 100%;
}


@media (min-width: 768px) {
  main {
    flex-direction: row; 
  }

  aside {
    width: 30%; 
  }

  article {
    width: 70%; 
  }
}
